<html>
<head>
<title>Mailroom</title>
</head>
<body>
	<nav>
		<a id="donations" href="{{ url_for('show_all') }}">All donations</a>
		<a id="logout" href="{{ url_for('get_single') }}">Show single donor</a>
		<a id="create" href="{{ url_for('create') }}">Create</a>
		<a id="login" href="{{ url_for('login') }}">Login</a>
		<a id="logout" href="{{ url_for('logout') }}">Logout</a>
	</nav>
	<h1>Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
